<a href="https://colab.research.google.com/github/powernv/DA-Statistics/blob/main/powernv/Hometasks_Sber/%22%D0%9F%D0%BE%D0%B2%D0%B5%D1%80%D0%BD%D0%BE%D0%B2%D0%B0_%D0%9F%D1%80%D0%B0%D0%BA%D1%82%D0%B8%D0%BA%D0%B0_%D0%BA_%D0%B7%D0%B0%D0%BD%D1%8F%D1%82%D0%B8%D1%8E_11_ipynb%22.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

# Практика

## Определение вероятности. События

Требуется сгенерировать необходимые выборки и произвести по ним расчеты

In [3]:
import numpy as np
import random
import pandas as pd

### Задача 1
Брошено две монеты. Найти вероятность того, что монеты выпали разными сторонами

In [15]:
coin1 = ['heads', 'tails']
coin2 = ['heads', 'tails']
n = 1000000
fl = 0
i = 1
while i <= n:
  if random.choice(coin1) != random.choice(coin2):
    fl += 1
    i += 1
  else: i += 1
P = fl/n
P

0.500233

### Задача 2
Брошено три монеты. Описать множество всех элементарных событий. Найти вероятности следующих событий:


1.   A = {не выпало ни одного герба}
2.   B = {выпало четное число гербов}
3.   C = {на третьей монете выпал герб}

In [16]:
coin_1 = ['heads', 'tails']
coin_2 = ['heads', 'tails']
coin_3 = ['heads', 'tails']

Описать множество элементарных событий

In [18]:
def r(a):
  return random.choice(a)

n = 1000
df = pd.DataFrame({'result': list(map(lambda k: 
                                      (r(coin_1), r(coin_2), r(coin_3)),
                                      range(n)
))})

set(df.result)

{('heads', 'heads', 'heads'),
 ('heads', 'heads', 'tails'),
 ('heads', 'tails', 'heads'),
 ('heads', 'tails', 'tails'),
 ('tails', 'heads', 'heads'),
 ('tails', 'heads', 'tails'),
 ('tails', 'tails', 'heads'),
 ('tails', 'tails', 'tails')}

Не прогадаю, если посчитаю так

In [19]:
i = 1
l = []
n = 1000
while i<=n:
  D = (r(coin_1), r(coin_2), r(coin_3))
  l.append(D)
  i += 1
set(l)

{('heads', 'heads', 'heads'),
 ('heads', 'heads', 'tails'),
 ('heads', 'tails', 'heads'),
 ('heads', 'tails', 'tails'),
 ('tails', 'heads', 'heads'),
 ('tails', 'heads', 'tails'),
 ('tails', 'tails', 'heads'),
 ('tails', 'tails', 'tails')}

Найти вероятности следующих событий:

A = {не выпало ни одного герба}

B = {выпало четное число гербов}

C = {на третьей монете выпал герб}

In [20]:
n = 1000000
i = 1
r1 = []
r2 = []
r3 = []
while i<=n:
  r1.append(random.choice(coin_1))
  r2.append(random.choice(coin_2))
  r3.append(random.choice(coin_3))
  i += 1

res = pd.DataFrame({'coin_1': r1, 'coin_2': r2, 'coin_3': r3})

In [21]:
i = 0
no_heads = 0
two_heads = 0
while i < res.shape[0]:
  A = res.loc[i].str.find('heads').sum()
  if A == -3:
    no_heads += 1
    i += 1
  elif A == -1:
    two_heads += 1
    i += 1
  else: 
    i += 1

In [22]:
third_heads = res[res.coin_3 == 'heads'].shape[0]

In [23]:
P_A = no_heads / res.shape[0]
P_B = two_heads / res.shape[0]
P_C = third_heads / res.shape[0]
print(f'''p(A) = {P_A}
p(B) = {P_B}
p(C) = {P_C}''')

p(A) = 0.124876
p(B) = 0.374607
p(C) = 0.499913

Предлагается также решить задачи: 

### Задача 3
Из двух претендентов E и L на ответственную должность три члена комиссии должны отобрать одного. Каждый член комиссии должен указать либо одного достойного, либо забраковать обоих. Претендент считается выбранным, если он был признан достойным хотя бы двумя членами комиссии.
Найти вероятность событий:

A = {рекомендован L}, B = {рекомендован E}

In [24]:
to_choose = ['E', 'L', 'nobody']

In [25]:
n = 100000
cols = ['choice1', 'choice2', 'choice3', 'winner']
df = pd.DataFrame(columns = cols, index = range(n))
for a in range(n):
  df.loc[a].choice1 = np.random.choice(to_choose, 3)[0]
  df.loc[a].choice2 = np.random.choice(to_choose, 3)[1]
  df.loc[a].choice3 = np.random.choice(to_choose, 3)[2]
  if df.loc[a].str.count(to_choose[0]).sum() > df.loc[a].str.count(to_choose[1]).sum() and df.loc[a].str.count(to_choose[0]).sum() > df.loc[a].str.count(to_choose[2]).sum():
    df.loc[a].winner = to_choose[0]
  elif df.loc[a].str.count(to_choose[1]).sum() > df.loc[a].str.count(to_choose[0]).sum() and df.loc[a].str.count(to_choose[1]).sum() > df.loc[a].str.count(to_choose[2]).sum():
    df.loc[a].winner = to_choose[1]
  else: df.loc[a].winner = to_choose[2]

In [26]:
A = df[df.winner == 'L'].shape[0]
B = df[df.winner == 'E'].shape[0]
P_A = A / df.shape[0]
P_B = B / df.shape[0]
print(f'''P(A - рекомендован L) = {P_A}, 
P(B - рекомендован E) = {P_B}''')

P(A - рекомендован L) = 0.25816,
P(B - рекомендован E) = 0.25963

### Задача 4
Брошено две игральных кости. Описать множество элементарных событий. Найти вероятности событий:

A = {вышло две "шестерки"}

B = {сумма выпавших очков не меньше 11}

C = {не выпала ни одна "шестерка"}

In [27]:
first = list(range(1, 7))
second = list(range(1, 7))

Описать множество элементарных событий

In [28]:
n = 100000
events = pd.DataFrame({'events' : list(map(lambda x:
                  (random.choice(first), random.choice(second)),
                  range(n)))})

set(events.events)

{(1, 1),
 (1, 2),
 (1, 3),
 (1, 4),
 (1, 5),
 (1, 6),
 (2, 1),
 (2, 2),
 (2, 3),
 (2, 4),
 (2, 5),
 (2, 6),
 (3, 1),
 (3, 2),
 (3, 3),
 (3, 4),
 (3, 5),
 (3, 6),
 (4, 1),
 (4, 2),
 (4, 3),
 (4, 4),
 (4, 5),
 (4, 6),
 (5, 1),
 (5, 2),
 (5, 3),
 (5, 4),
 (5, 5),
 (5, 6),
 (6, 1),
 (6, 2),
 (6, 3),
 (6, 4),
 (6, 5),
 (6, 6)}

Найти вероятности событий:

A = {вышло две "шестерки"}

B = {сумма выпавших очков не меньше 11}

C = {не выпала ни одна "шестерка"}

In [29]:
fl_a = 0
for a in range (n):
  if events.events.loc[a][0] + events.events.loc[a][1] == 12:
    fl_a += 1
  else: 
    continue

In [30]:
fl_b = 0
for a in range (n):
  if events.events.loc[a][0] + events.events.loc[a][1] >= 11:
    fl_b += 1
  else: 
    continue

In [31]:
fl_c = 0
for a in range (n):
  if events.events.loc[a][0] != 6 and events.events.loc[a][1] != 6:
    fl_c += 1
  else: 
    continue

In [32]:
P_A = fl_a / events.shape[0]
P_B = fl_b / events.shape[0]
P_C = fl_c / events.shape[0]

print(f'''p(A) = {P_A}
p(B) = {P_B}
p(C) = {P_C}''')

p(A) = 0.02813
p(B) = 0.08353
p(C) = 0.69168

## Вероятность суммы событий

### Задача 5
Брошены две игральные кости. Найти вероятность события D = {выпала хотя бы одна шестёрка}

In [33]:
res1 = res2 = list(range(1,7))

In [34]:
n = 100000
RES = pd.DataFrame({'RES': list(map(lambda k:
                          (random.choice(res1), random.choice(res2)), range(n)))})

In [35]:
fl_d = 0
for a in range (n):
  if RES.RES.loc[a][0] == 6 or RES.RES.loc[a][1] == 6:
    fl_d += 1
  else: 
    continue

In [36]:
P_D = fl_d / RES.shape[0]


print(f'p(D) = {P_D}')

p(D) = 0.30475

Предлагается также решить задачи: 

### Задача 6
В телефонном номере три последние цифры стерлись. Считая, что все возможные значения стершихся цифр равновероятны, найти вероятность событий:

A = {Стерлись различные цифры},

B = {Стерлись одинаковые цифры},

C = {Среди стершихся цифр хотя бы две совпадают},

D = {Среди стершихся цифр хотя бы две различны}

In [37]:
frst = list(range(10))
scnd = list(range(10))
thrd = list(range(10))

In [38]:
n = 100000
columns = ['frst', 'scnd', 'thrd']
p = [0.1, 0.1, 0.1, 0.1, 0.1, 0.1, 0.1, 0.1, 0.1, 0.1]
df = pd.DataFrame(columns = columns, index = range(n))
for a in range(n):
  df.loc[a].frst = np.random.choice(frst, 1, p = p)[0]
  df.loc[a].scnd = np.random.choice(scnd, 1, p = p)[0]
  df.loc[a].thrd = np.random.choice(thrd, 1, p = p)[0]

In [39]:
A = B = C = 0
for a in range (n):
  if df.loc[a].frst != df.loc[a].scnd and df.loc[a].frst != df.loc[a].thrd and df.loc[a].scnd != df.loc[a].thrd:
    A += 1
    a += 1
  elif df.loc[a].frst == df.loc[a].scnd and df.loc[a].frst == df.loc[a].thrd:
    B += 1
    a += 1
  elif df.loc[a].frst == df.loc[a].scnd or df.loc[a].frst == df.loc[a].thrd or df.loc[a].scnd == df.loc[a].thrd:
    C += 1
    a += 1

In [40]:
D = 0
for a in range (n):
  if df.loc[a].frst != df.loc[a].scnd or df.loc[a].frst != df.loc[a].thrd or df.loc[a].scnd != df.loc[a].thrd:
    D += 1
    a += 1
  else:
    a += 1

In [41]:
P_A = A / df.shape[0]
P_B = B / df.shape[0]
P_C = C / df.shape[0]
P_D = D / df.shape[0]

print(f'''P(A) = {P_A}, 
P(B) = {P_B},
P(C) = {P_C},
P(D) = {P_D}''')

P(A) = 0.71708,
P(B) = 0.01006,
P(C) = 0.27286,
P(D) = 0.98994

## Случайные величины

### Задача 7
В лотерее имеется 10 билетов, из которых один выигрышный. Размер выигрыша 10 ден. ед.; стоимость билета 1 ден ед. Найти закон распределения случайной величины X, равной чистому выигрышу участника лотереи, который вытаскивает билет первым.

In [35]:
import random
import scipy.stats as sts
import matplotlib.pyplot as plt

In [29]:
ber = sts.bernoulli(0.1)
ber.rvs(10)

array([0, 0, 1, 0, 0, 0, 0, 0, 0, 0])

Предлагается также решить задачу: 

### Задача 8
Брошены две игральные кости. Найти закон распределения случайной величины $X$, равной сумме выпавших очков. Найти вероятности событий ${X <= 4}$, ${X > 4}$

## Условные вероятности

### Задача 9
Из колоды (36 карт) вынимают последовательно без возвращения две карты. Найти вероятность того, что первой картой была шестерка, а второй — семерка. Найти условную вероятность того же события при условии, что обе карты бубновой масти.

In [6]:
suit = ['Diamonds', 'Hearts', 'Clubs', 'Spades']
number = ['6', '7', '8', '9', '10', 'Jack', 'Queen', 'King', 'Ace']

In [7]:
cards = list()
for i in range(len(number)):
  cards.append(f'{number[i]} {suit[0]}')
  cards.append(f'{number[i]} {suit[1]}')
  cards.append(f'{number[i]} {suit[2]}')
  cards.append(f'{number[i]} {suit[3]}')
len(cards)

36

In [8]:
n = 100000
cols = ['first_card', 'second_card']
A = pd.DataFrame(columns = cols, index = range(n))
for i in range(n):
  A.loc[i].first_card = np.random.choice(cards, 1)[0]
  A.loc[i].second_card = np.random.choice(cards, 1)[0]
  if A.loc[i].first_card[0] == A.loc[i].second_card[0]:
    A.loc[i].second_card = np.random.choice(cards, 1)[0]
  else: pass

In [10]:
prob_A = 0
for i in range(n):
  if A.loc[i].first_card.startswith('6') and A.loc[i].second_card.startswith('7'):
    prob_A += 1
    i += 1
  else:
    i +=1

In [11]:
prob_B = 0
for i in range(n):
  if A.loc[i].first_card.find('Diamonds') > -1 and A.loc[i].second_card.find('Diamonds') > -1:
    prob_B += 1
    i += 1
  else: 
    i += 1

In [12]:
AB = 0
for i in range(n):
  if A.loc[i].first_card == '6 Diamonds' and A.loc[i].second_card == '7 Diamonds':
    AB += 1
    i += 1
  else: 
    i += 1

In [13]:
p_A = prob_A/A.shape[0]
p_B = prob_B/A.shape[0]
p_AB = AB/A.shape[0]
p_A_B = p_AB/p_B
print(f'''p(A) = {p_A}
p(A|B) = {p_A_B}''')

p(A) = 0.0138
p(A|B) = 0.015059275873117589

Предлагается также решить задачу: 

### Задача 10
Из урны, содержащей два белых и три черных шара, последовательно извлекают два шара; вынутые шары не возвращаются. Если первый шар оказался черным, то перед вторым извлечением в урну добавляют белый шар. В противном случае состав оставшихся шаров не меняют. Найти вероятности событий:

$A$ = {извлечены два белых шара},

$B$ = {извлечены два черных шара}

Указание. Пусть событие $C_1$ = {первый шар белый}, событие $C_2$ = {второй шар белый}. Тогда $A = C_1C_2$, $B = \overline C_1 \overline C_2$

In [13]:
n = 1000000
cols = ['ball_1', 'ball_2', 'filled']
fill = pd.DataFrame(columns = cols, index = range(n))

for i in range (n):
  filled = ['wh', 'wh', 'bl', 'bl', 'bl']
  ball1 = np.random.choice(filled, 1)[0]
  fill.loc[i].ball_1 = ball1
  filled.remove(ball1)
  if ball1 == 'bl':
    filled.append('wh')
  ball2 = np.random.choice(filled, 1)[0]
  fill.loc[i].ball_2 = ball2
  fill.loc[i].filled = filled

In [18]:
fill

       ball_1 ball_2                filled
0          wh     wh      [wh, bl, bl, bl]
1          wh     bl      [wh, bl, bl, bl]
2          bl     wh  [wh, wh, bl, bl, wh]
3          bl     bl  [wh, wh, bl, bl, wh]
4          bl     wh  [wh, wh, bl, bl, wh]
...       ...    ...                   ...
999995     wh     wh      [wh, bl, bl, bl]
999996     bl     wh  [wh, wh, bl, bl, wh]
999997     bl     wh  [wh, wh, bl, bl, wh]
999998     wh     wh      [wh, bl, bl, bl]
999999     bl     wh  [wh, wh, bl, bl, wh]

[1000000 rows x 3 columns]

In [19]:
wh_ball1 = wh_ball2 = 0
for i in range (n):
  if fill.loc[i].ball_1 == 'wh':
    wh_ball1 += 1
  elif fill.loc[i].ball_2 == 'wh':
    wh_ball2 += 1

In [20]:
bl_ball1 = bl_ball2 = 0
for i in range (n):
  if fill.loc[i].ball_1 == 'bl':
    bl_ball1 += 1
  elif fill.loc[i].ball_2 == 'bl':
    bl_ball2 += 1

In [21]:
C1 = wh_ball1/fill.shape[0]
C2 = wh_ball2/fill.shape[0]
A = C1 * C2
f'P(A) = {A}'

'P(A) = 0.143755458946'

In [22]:
D1 = bl_ball1/fill.shape[0]
D2 = bl_ball2/fill.shape[0]
B = D1 * D2
f'P(B) = {B}'

'P(B) = 0.18002633251800002'